.about-cards {
  background-color: var(--light-blue);
  color: var(--dark-blue);
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 10px;
  font-size: large;
  margin-top: 100px;
}

.about {
  margin-top: 80px;
}

.about h1{
  margin: 10px;
}

.to-login{
  size: 20pt;
  bottom: 10px;
  position: fixed;
  width: 320px;
  padding: 10px;
  margin-left: 27px;
}

.button-container {
  width: 100%;
  height: 8%;
  display: flex;
  flex-direction: row;
  margin-top: 5rem;
  top:1rem;
  left: 0;
  position: fixed;
}

.button-container button {
  width: 100%;
  height: 100%;
  border: none;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  font-weight: 700;
  padding: 0.5rem 4.15rem 0.5rem 4.15rem;
  cursor: pointer;
}

.button-article:active {
  background-color: #FFA0AA;
}

.button-about {
  background-color: #FFA0AA;
}

.button-about:active {
  background-color: white;
}

.section-carousel {
  margin-top: 30px;
  margin-bottom: 10px;        
}

.container-public {
  box-sizing: border-box;
  margin-top: 170px;
}