.title-article{
  margin-top: 20%;
  color: var(--off-white);
}

.article{
  margin-top: 50px;
}

.article-page{
  width: 100%;
  height: 440px;
}

.button-article{
  display:flex;
  flex-direction: column;
}

.icons-card{
  display:flex;
  flex-direction: row;
}