.title-article{
  margin-top: 20%;
  color: var(--off-white);
}

.article{
  margin-top: 50px;
}

.article-page{
  width: 100%;
  height: 420px;
}

.button-article{
  display:flex;
  flex-direction: column;
}