.card-container{
<<<<<<< HEAD
width: 400px;
height: 250px;
box-shadow: 0px 0px 15px -5px;
margin-left: 450px;
background-color: steelblue;
}

.card-container:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 0px;
}

.image-container img{
    overflow: hidden;
    height: 200px;
}

h1{
   margin: 0;
   padding: 0;
}
=======
    width: 400px;
    height: 250px;
    box-shadow: 0px 0px 15px -5px;
    margin-left: 450px;
    background-color: steelblue;
    }
    
    .card-container:hover{
        transform: scale(1.1);
        box-shadow: 0px 0px 15px 0px;
    }
>>>>>>> fb307571bf451dbcc90e6f77584ef20f18e09338
