:root {
    --light-blue: #54C5D9;
    --dark-blue: #00003C;
    --light-pink: #F54868;
    --dark-pink: #B4093E;
    --off-white: #F8FFFF;
    --black: #000000;
}

.header {
    background: var(--light-pink);
    display: flex;
    padding: 10px 20px;
    height: 80px;
    width: 100%;
    align-items: center;
    justify-content: start;
    top:0;
    left: 0;
    position: fixed;
    z-index: 2;
}

.header img {
    width: 28vw;
    margin: 0 0 0 7rem
}




