:root {
    --light-blue: #54C5D9;
    --dark-blue: #00003C;
    --light-pink: #F54868;
    --dark-pink: #B4093E;
    --off-white: #F8FFFF;
    --black: #000000;
}

.header {
    background: var(--light-pink);
    display: flex;
    padding: 10px 20px;
    height: 80px;
    width: 100%;
    align-items: center;
    justify-content: start;
    top:0;
    left: 0;
    position: fixed;
}

.header img {
    width: 14vw;
}

.header p {
    text-align: center;
    font-weight: 600;
    color: var(--off-white);
    margin: 0 0 0 1rem;
    font-size: 18pt;
}

.button-container {
    display: flex;
    flex-direction: row;
    margin-top: 4rem;
    top:1rem;
    left: 0;
    position: fixed;
}

.button-container button {
    border: none;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-weight: 700;
    padding: 0.5rem 4.15rem 0.5rem 4.15rem;
    cursor: pointer;
}

.button-article:active {
    background-color: #FFA0AA;
}

.button-about {
    background-color: #FFA0AA;
}

.button-about:active {
    background-color: white;
}
