
.container-carousel {
    width: 100%;
    display: flex;
    align-items: center;
}

.container-carousel .carousel {
    width: 100%;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;   
    box-sizing: border-box; 
 
}

.fa-chevron-left, .fa-chevron-right {
    font-size: 60px;
    color: #54C5D9;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.308);
}